*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.bd {
    border: 1px solid black;
}
